#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

#main-title {
  padding: 2rem;
  text-align: center;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* border: 1px solid red; */
}

#fileUpload {
  display: flex;
  justify-content: stretch;
  padding: 0 25px 25px;
}

#uploadAndConfirm {
  display: flex;
  flex-direction: column;
}

#uploadAndConfirm > * {
  padding: 2px;
}

.checkbox {
  padding: 2px;
  cursor: default;
}

.columnSelection {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
 .columnSelection > * {
  border: 1px black solid;
 }